*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* input number increment and decrement button */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

body{
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
}

main {
    height: calc(100vh - 100px);
    height: calc(100svh - 100px);
    background-image: url('../Image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 2rem;
    border-radius: 0.5rem;
    height: auto;
    min-width: 300px;
    width: 20vw;
    color: #fff;
}

.container h2{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bolder;
}

form {
    margin: 2rem 0 1em;
}

form select, button, input {
    width: 100%;
    height: 2.3em;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: none;
    color: #fff;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 1.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 ;
}

.dropdown > button{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    background: none;
    cursor: pointer;
}

.dropdown > button > svg{
    width: 100%;
    background: none;
}

.location {
    width: calc(50% - 2rem);
}

.location > p{
    display: inline-block;
}

.select-container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;

}

.select-container > img {
    max-width: 2rem;
    width: 2rem;
}

.select-container > select {
    font-size: 1rem;
    width: auto;
    height: 1.9rem;
    border: none;
    appearance: none;
    padding: 0 20px;
}

.select-container > select > option{
    color: #000;
    background-color: transparent;
    height: 100px;
}

.conversion{
    text-align: center;
    font-size: 1.1rem;
    margin: 1.5rem 0;
}

form button {
    height: 3rem;
    font-size: 1.1rem;
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

footer{
    width: 100vw;
    height: 100px;
    background-color: #000;
}

.proj-details{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    margin-bottom: 10px;
}

.social > a{
    margin-right: 0.5rem;
}

.left-footer > a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.social > a {
    text-decoration: none;
}

.social > a > svg{
    height: 2rem;
    width: 2rem;
}

.legal{
    display: flex;
    flex-direction: column;
}

.legal a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.legal p{
    color: #fff;
    font-size: 17px;
}


@media (max-width: 600px) {
    .legal a{
        font-size: 0.7rem;
    }

    .social > a > svg{
        height: 1.5rem;
        width: 1.5rem;
    }
    .proj-details{
        width: 90%;
    }
}

@media (max-width: 380px) {
    button {
        -webkit-tap-highlight-color: transparent;
    }
    .container{
        min-width: 70%;
    }

    .location{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .select-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .select-container select{
        text-align: center;
        padding: 0 10px;
    }

    .proj-details{
        width: 95%;
    }
    .social > a > svg{
        height: 1.5rem;
        width: 1.5rem;
    }
    .legal a{
        font-size: 0.6rem;
    }
}

@media (max-width: 280px) {
    .legal a{
        display: none;
    }
}
